# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# CWL runtime temp files
.cwltool/
*.cwltool.log
*.tmp/
*.temp/

# Log files
*.log
*.err
*.out
stderr.txt
stdout.txt

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Backup files
*~
*.bak

batch_push.sh

provenance_output/
publication.crate/
workflow_inputs/Data/
*.pickle
*.tif

# Ignore these globally
interface.crate/
provenance_output.crate/

# BUT keep anything inside the docs folder
!docs/interface.crate/
!docs/interface.crate/**
!docs/interface.crate/provenance_output.crate/
!docs/interface.crate/provenance_output.crate/**

zenodo_token.py
copernicus_token.py


