Workflow_inputs/Data filter=lfs diff=lfs merge=lfs -text
provenance_output.crate filter=lfs diff=lfs merge=lfs -text
provenance_output filter=lfs diff=lfs merge=lfs -text
provenance_output.crate.zip filter=lfs diff=lfs merge=lfs -text
interface.crate.zip filter=lfs diff=lfs merge=lfs -text
publication.crate.zip filter=lfs diff=lfs merge=lfs -text
